---
---

@import "{{ site.theme }}";

body {
  background: #06090f;
  font: 16px/1.6 Helvetica,Arial,sans-serif;
}

.wrapper {
  max-width:850px;
}

section {
  max-width:850px;
}

#header {
  background: #161b22;
  border-bottom: 1px solid #434343;
}

#header nav ul li a {
  color: white;
  border: 1px solid #888;
  background: linear-gradient(#555, #333);
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);

  background-color: #333;

  &:hover {
    background: linear-gradient(#333, #555);
    background-color: #303030;
    border: 1px solid #808080;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
  }
}

hr {
  background: #555;
  height: 1px;
}

#navbar {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li a {
    display: block;
    color: #FFCC00;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a.active {
    background-color: #303030;
    color: #ffeb9b;
  }
  li a:hover:not(.active) {
    background-color: #404040;
    color: white;
  }
}

.side {
  float: left;
  width: 230px;
  display:block;
  margin-bottom: 20px;
}

.content {
  float: right;
  width: 70%;
  display:block;
  margin: 0px;
}

@media print, screen and (max-width: 850px) {

  .side {
    float: none;
  }

  .content {
    width: 100%;
    float: none;
  }
}
